<nav class="navbar navbar-expand-sm bg-light fixed-top">

  <div class="row global-width w-100">
    <div class="col-2 col-sm-2 col-lg-4 m-auto pl-0 ">
      <img src="assets/img/logo.png" alt="logo" />
    </div>
    <div class="col-10 col-sm-10 col-lg-8 m-auto">
       <!-- Links -->
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" (click)="goTo('')">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="goTo('bookmark')">Bookmarks</a>
        </li>

        <li class="nav-item">
          <form class="home-form">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-search web"></i>
                  <i class="fa fa-search mob"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search" [formControl]="searchText">            
              <!-- <div *ngFor="let news of totalNews">
                {{news.title}}
              </div> -->
            </div>
          </form>
        </li>

      </ul>
    </div>
  </div>

 

</nav>