<app-header></app-header>

<section class="news-detail global-width body-width mt-110">
  <div class="row"  *ngIf="details.name">
    <div class="col-lg-9">
      <h5 class="font-weight-bold">
        {{details.des}}
      </h5>
      
      <div class="mt-3">
        <div class="description">
          <div>
            <img [src]="details.img" alt="image"/>
          </div>

          <div class="ml-4 news-detail-mob">
            {{details.des}}
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-3">
      <ng-adsense
        [adClient]="'ca-pub-7640562161899788'"
        [adSlot]="7259870550"
        [display]="'inline-block'"
        [width]="320"
        [height]="108"
      ></ng-adsense>
    </div> -->
  </div>
</section>

<section class="mt-5" >
  <div class="home-News global-width body-width mt-5">
    <div class="title">
        <h4 class="font-weight-bold">All News</h4>
    </div>
    <div class="media mt-4" *ngFor="let list of topNewslist">
        <img [src]="list.img" class="align-self-center mr-4 w-25">
        <div class="media-body cursor" (click)="showDetails(list)">
            <h4>{{list.title}}</h4>
            <div>{{list.des}}</div>
            <div class="mt-3">
              <span class="source">{{list.name}}</span>
            </div>
            
        </div>
        <i class="" aria-hidden="true" (click)="bookmark(news)" [ngClass]="checkIsBookmarked(news) == true ? 'fa fa-bookmark' : 'fa fa-bookmark-o'"></i>
      </div>
  </div>  
</section>

<app-footer></app-footer>